#mainH1 {
    text-align: center;
    background-color: cadetblue;
    border: 4px groove black;
    border-radius: 8px;
  }

.movieTable {
  border: 6px groove aqua;
  border-radius: 30px;
  background-color: azure;
  margin: 10px auto;
  text-align: center;
}

.movieTable thead {
  font-size: 16px;
  color: blue;
  background-color:aquamarine
}

.movieTable td {
  padding: 5px;
  border-top: 1px solid black;
  font-size: 12px;
}

.movieTable tr:hover {
  background-color: rgb(56, 218, 247);
  color: aliceblue;
}

.card {
  width: 95%;
  margin: 0 auto;
}

.card2 {
  margin-top: 20px;
  height: 210px;
}

.card-title,
.card-title2 {
  background-color: rgb(187, 183, 183);
  font-weight: bold;
  color: black;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
}

.card-body2 {
  background-color: aliceblue;
  height: 150px;
  margin-bottom: 120px;
}

.movieThead {
  font-weight: bold;
  color: rgb(83, 82, 82);
}

.movieThead td {
  padding-right: 10px;
}

#reviewInLbl {
  margin-top: 8px;
  width: 200px;
  font-weight: bold;
  color: black;
}

#movieReviewIn input {
  width: 500px;
  margin-top: 10px;
  margin-left: 8px;
}

.Stars {
  background-color: rgb(152, 222, 240);
  margin-top: 5px;
  padding-top: 10px;
}